{% extends 'dashboard/layout.html' %}

{% block title %}Requested Services{% endblock %}

{% block content %}

<style>
    body {
        background-color: #FBFBFB; /* Background color */
    }
</style>

    <h1 style="font-size: 24px; color: black; text-align: center; margin: 20px 20px;">Book an Appointment</h1>
    <form method="post" style="max-width: 800px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #FEF9F2;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="width: 50%; padding: 10px; background-color: blue; color: white; border: none; margin-top: 20px; border-radius: 5px; font-size: 16px; cursor: pointer;">Book Appointment</button>
    </form>
{% endblock %}
