

{% block title %}{% endblock %}

{% block content %}
<style>
body {
background-color: beige;
.button-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-link:hover {
    background-color: #0056b3; /* Darker shade for hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

</style>
<a href="previous_page.html"
   style="text-decoration: none; color: #333; font-weight: bold; transition: color 0.3s;
          position: absolute; top: 20px; left: 20px;"
   onmouseover="this.style.color='#007bff'"
   onmouseout="this.style.color='#333'" >
    &#8592; Go Back
</a>
<div class="container" style="width: 50%; margin: auto; padding: 20px; margin-top: 20px; height: 60vh; background-color: #f8f9fa; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h2 style="text-align: center; color: black; margin-bottom: 20px;">Change Password - Client</h2>
    <form method="POST">
        {% csrf_token %}
        <div style="margin-bottom: 15px;">
        {{ password_form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary" style="width: 40%; border-radius: 5px; padding: 10px; font-size: 18px;">Change Password</button>
    </form>
    <p style="text-align: center; margin-top: 20px;"><a href="{% url 'users:client_profile' %}" class="button-link">Back to Profile</a></p>
</div>
{% endblock %}
